<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>City Form</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css"
		rel="stylesheet"
		th:href="@{/css/style1.css}"/>
		
	<link type="text/css"
		  rel="stylesheet"
		 th:href="@{/css/style2.css}"/>
    
	<style>
	    .error {
	        color: red;
	    }
	</style>

</head>

<body>
	<div id="wrapper">
		<div id="header">
			<h2>Fill out the form to add new City</h2>
		</div>
	</div>
	
		<div id="conatiner">
			<div id="content">
		
				<form action="#" th:action="@{/cities/saveCity}" th:object="${city}" method="POST">
		
						<input type="hidden" th:field="*{id}"/>
					<table border="1">	
						<tr>
							<td><label>City Name:</label></td>
							
							<td>
								<input type="text" th:field="*{name}" placeholder="Name"/>
								
								<ul>
							        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error" />
							    </ul>	
							</td>
						</tr>
						
						<tr>
							<td><label>Country Code:</label></td>
							
							<td>
								<input type="text" th:field="*{country}" placeholder="Country Code"/>
		
								<ul>
							        <li th:each="err : ${#fields.errors('country')}" th:text="${err}" class="error" />
							    </ul>	
							</td>
						</tr>
							
						<tr>
							<td><label>District:</label></td>
							
							<td>
								<input type="text" th:field="*{district}" placeholder="District"/> 
								
								<ul>
							        <li th:each="err : ${#fields.errors('district')}" th:text="${err}" class="error" />
							    </ul>
							</td>	 	  
						</tr> 
						
						<tr>
							<td><label>Population:</label></td>
							
							<td>
								<input type="text" th:field="*{population}" placeholder="Population"/>
								
								<ul>
							        <li th:each="err : ${#fields.errors('population')}" th:text="${err}" class="error" />
							    </ul>
							</td>
						</tr>  
						
					<tr>
						<td>
							<button type="submit">Save</button>
						</td>
					</tr>
			
				</table>
			</form>
		
		</div>
	</div>

	<p>
		<a th:href="@{/cities/list}">Back to City List</a>
	</p>
	
		<h4>Please note:</h4>
			<ul>
				<li th:each="err : ${#fields.errors('city.*')}" th:text="${err}" class="error" />
			</ul>

	</body>

</html>
















